<!DOCTYPE html>
<html>
  <head>
    <title>RailsSpace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div id="whole_page">
        <div id="header">RailsSpace</div>
        <div id="nav">
          <%= link_to_unless_current "Home", root_path %> |
          <%= link_to_unless_current "About", site_about_path %> |
          <%= link_to_unless_current "Help", site_help_path %>
        </div>
        <div id="content">
          <%= yield %>
        </div>
    </div>
  </body>
</html>
